<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DebtManagement.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DebtManagement.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DebtManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DebtManagement.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DebtManagement.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

	<connectionStrings>
    <!--connectionString="Server=.;Database=DebtManagement;User Id=sa;Password=sa123456; Trusted_Connection=True; Encrypt=False;"-->

	<add name="DebtManagement"
  connectionString="Server=.; Database=DebtManagement; Trusted_Connection=True; Encrypt=False;"
  providerName="System.Data.SqlClient" />

	</connectionStrings>



	<applicationSettings>
    <DebtManagement.Settings1>
       <setting name="CompanyName" serializeAs="String">
          <value />
       </setting>
    </DebtManagement.Settings1>
    <DebtManagement.Settings>
       <setting name="PictureData" serializeAs="String">
          <value />
       </setting>
    </DebtManagement.Settings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
 <userSettings>
  <DebtManagement.Properties.Settings>
   <setting name="Username" serializeAs="String">
    <value>Abdulghani99I</value>
   </setting>
   <setting name="Password" serializeAs="String">
    <value>123456</value>
   </setting>
   <setting name="isClickRememberMe" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="IsManager" serializeAs="String">
    <value>False</value>
   </setting>
  </DebtManagement.Properties.Settings>
  <DebtManagement.Settings1>
   <setting name="DecriptionName" serializeAs="String">
    <value />
   </setting>
   <setting name="PictureData" serializeAs="String">
    <value />
   </setting>
  </DebtManagement.Settings1>
  <DebtManagement.Settings>
   <setting name="CompanyName" serializeAs="String">
    <value />
   </setting>
   <setting name="CompanyDescription" serializeAs="String">
    <value />
   </setting>
  </DebtManagement.Settings>
 </userSettings>
</configuration>